Kashan Shahid
53686
Artificial Intelligence
Lab02

1. The append() Method

In [3]:

my_courses = ["Entrepreneurship", "Compiler Construction", "Computer Networks"]

my_courses.append("Artificial Intelligence")

print(my_courses)

['Entrepreneurship', 'Compiler Construction', 'Computer Networks', 'Artificial Intelligence']

2. The clear() Method

In [4]:
kashans_data = [53686, 10, 20, 30]

kashans_data.clear()

print(kashans_data)

[]

3. The copy() Method

In [5]:
original_fruits = ["Apple", "Mango", "Banana"]

backup_fruits = original_fruits.copy()

backup_fruits.append("Orange")
print("Original:", original_fruits)
print("Copy:", backup_fruits)

Original: ['Apple', 'Mango', 'Banana']
Copy: ['Apple', 'Mango', 'Banana', 'Orange']

4. The count() Method

In [6]:
results = ["Pass", "Fail", "Pass", "Pass", "Fail"]

pass_count = results.count("Pass")

print("Total Passes:", pass_count)

Total Passes: 3

5. The extend() Method

In [7]:
list_a = [53686, 1, 2]
list_b = [3, 4, 5]

list_a.extend(list_b)

print(list_a)

[53686, 1, 2, 3, 4, 5]

6. The index() Method

In [9]:
cities = ["Islamabad", "Rawalpindi", "Lahore", "Karachi","ChichaWatni"]

pos = cities.index("ChichaWatni")

print("Chichawatni is at index:", pos)

Chichawatni is at index: 4

7. The insert() Method

In [10]:
apps = ["WhatsApp", "Facebook", "Twitter X"]

apps.insert(1, "Instagram")

print(apps)

['WhatsApp', 'Instagram', 'Facebook', 'Twitter X']

8. The pop() Method

In [12]:
tasks = ["Exploring", "Gym", "AI Lab Task 02", "Me time"]

tasks.pop(1)

print(tasks)

['Exploring', 'AI Lab Task 02', 'Me time']

9. The remove() Method

In [15]:
inventory = ["Laptop", "Mouse", "Keyboard", "Mouse"]

inventory.remove("Mouse")

print(inventory)

['Laptop', 'Keyboard', 'Mouse']

10. The reverse() Method

In [ ]:
countdown = [1, 2, 3, 4, 5]

countdown.reverse()

print(countdown)

11. The sort() Method

In [16]:
students = ["Kashan", "Shahid", "Ali", "Zohaib"]

students.sort()

print(students)

['Ali', 'Kashan', 'Shahid', 'Zohaib']

12. Bonus Task GPA Calculator

In [21]:

num_courses = int(input("Enter the number of courses: "))

total_points = 0
total_credits = 0

course_credits = []
course_marks = []

for i in range(num_courses):
    print(f"\nDetails for Course {i+1}:")

    credit = int(input(f"  Enter credit hours: "))
    marks = float(input(f"  Enter obtained marks: "))

    course_credits.append(credit)
    course_marks.append(marks)

    if marks >= 80:
        gp = 4.0
    elif marks >= 70:
        gp = 3.0
    elif marks >= 60:
        gp = 2.0
    elif marks >= 50:
        gp = 1.0
    else:
        gp = 0.0

    total_points += (gp * credit)
    total_credits += credit


if total_credits > 0:
    semester_gpa = total_points / total_credits
    print("\n------------------------------")
    print(f"Total Credit Hours: {total_credits}")
    print(f"Your Semester GPA is: {semester_gpa:.2f}")
    print("------------------------------")
else:
    print("No credits entered.")

Enter the number of courses: 3

Details for Course 1:
  Enter credit hours: 3
  Enter obtained marks: 70

Details for Course 2:
  Enter credit hours: 2
  Enter obtained marks: 60

Details for Course 3:
  Enter credit hours: 3
  Enter obtained marks: 80

------------------------------
Total Credit Hours: 8
Your Semester GPA is: 3.12
------------------------------