1. Set in Python

In [ ]:
# Creating a set
pset = {1, 2, 3, 4, 5}
print(pset)
print("Type of pset is :", type(pset))

# Creating a set using constructor
pset1 = set([3, 4, 5, 6, 7])
print(pset1)
print("Type of pset is :", type(pset1))

2. Adding and removing set items

In [ ]:
pset2 = {5, 20, 11, 21, 8, 9}
print(pset2)
pset2.add(10)
print("pset after adding item value 10: ", pset2)

pset2.remove(20) #Error if item is not in the set
pset2.discard(8)
pset2.discard(8)
print(pset2)

3. Set Operations

In [ ]:
# Union of two sets
print("pset1", pset1)
print("pset2", pset2)
pset2.remove(5)
print("pset1", pset1)
union_set = pset1.union(pset2)
print("Union set after union :", union_set)

# Intersection of two sets
pset1.add(10)
pset3 = pset1.intersection(pset2)
print("Result of intersection of two sets : pset1 and pset2", pset3)

# Difference of two sets
pset4 = union_set.difference(pset2)
print("Difference of two sets : union_set and pset2", pset4)

4. Removing Duplicates

In [ ]:
plist = [21, 22, 22, 23, 14, 14, 15]
unique_elements = list(set(plist))
print("Unique elements in the set", unique_elements)

5. Python Dictionay

In [ ]:
dict1 = {
    'Name': 'Ahmed',
    'Age': 12,
    'Class': 'Five'
}
print("Dictionary No 1: ", dict1)
print("Type of dict1 is :", type(dict1))

# Accessing Items
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: ", dict1['Age'])

# get method
x = dict1.get('Age')
print("Getting item through get method", x)

# Key getting
y = dict1.keys()
print("Getting keys through get method", y)

6. Update Dictionary

In [ ]:
dict1 = {
    'Name': 'Ahmed',
    'Age': 12,
    'Class': 'Five'
}
print("Dictionary No 1: ", dict1)
dict1['Age'] = 15
print("Updated Dictionary age: ", dict1)

# Update Dictionary using update()
dict1.update({"Age": 16})
print("Updated Dictionary age usnig update() ", dict1)

7. Remove Dictionary Items through pop

In [ ]:
dict1 = {
    'Name': 'Ahmed',
    'Age': 12,
    'Class': 'Five'
}
print("Dictionary No 1: ", dict1)
dict1.pop('Class')
print("Dictionary after pop (class): ", dict1)

8. Remove Dictionary Items through popitem

In [ ]:
dict1 = {
    'Name': 'Ahmed',
    'Class': 'Five',
    'Age': 12
}
print("Dictionary No 1: ", dict1)
dict1.popitem()
print("Dictionary after popitem: ", dict1)

9. Deleting item through del()

In [ ]:
dict1 = {
    'Name': 'Ahmed',
    'Class': 'Five',
    'Age': 12
}
print("Dictionary No 1: ", dict1)
del dict1['Class']
print("Delete item using del : ", dict1)

10. Remove dictionary : clear()

In [ ]:
dict1 = {
    'Name': 'Ahmed',
    'Class': 'Five',
    'Age': 12
}
print("Dictionary No 1: ", dict1)
dict1.clear()
print("Empty the Dictionary using clear() : ", dict1)

**TASKS**

Task 1: Split Array and Calculate Sum

In [ ]:
import numpy as np


arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])


sub_arrays = np.array_split(arr, 3)


total_sum = 0
for i, sub_arr in enumerate(sub_arrays):
    s = np.sum(sub_arr)
    print(f"Sum of array {i+1} {sub_arr}: {s}")
    total_sum += s

print("Total sum of all arrays:", total_sum)

Task 2: Extract Numbers (5 < x < 15)

In [ ]:
import numpy as np


arr = np.array([1, 4, 6, 8, 10, 14, 15, 20, 3, 12])


result = arr[(arr > 5) & (arr < 15)]

print("Numbers greater than 5 and less than 15:", result)

Task 3: Set Operations

In [ ]:

set1 = {0, 2, 4, 6, 8, 10}


set2 = set(range(1, 11))

print("Original Set2:", set2)


set2.discard(2)
set2.discard(5)

print("Set2 after removing 2 and 5:", set2)


set3 = set2.intersection(set1)

print("Intersection (set3):", set3)

Task 4: Dictionary Student Records

In [ ]:

students = {
    53681: {'name': 'Ali', 'age': 20, 'Semester': 'Six'},
    53682: {'name': 'Sara', 'age': 21, 'Semester': 'Six'},
    53683: {'name': 'Bilal', 'age': 22, 'Semester': 'Six'},
    53684: {'name': 'Zain', 'age': 20, 'Semester': 'Six'},
    53685: {'name': 'Hina', 'age': 21, 'Semester': 'Six'}
}

print("Original Dictionary:")
for sap, details in students.items():
    print(f"SAP: {sap}, Details: {details}")


for sap in students:
    if students[sap]['Semester'] == 'Six':
        students[sap]['Semester'] = 'Seven'

print("\nUpdated Dictionary (Semester Seven):")
for sap, details in students.items():
    print(f"SAP: {sap}, Details: {details}")