In [8]:
# This is syntax
print ("hello world")

hello world

In [5]:
x = input("Enter your name")
print(x)

Enter your nameKashan
Kashan

In [10]:
print("John is my best friend")
print ("John is 20 years old")
print ("John is a canadian")
print ("John has intrest in cricket")

John is my best friend
John is 20 years old
John is a canadian
John has intrest in cricket

In [16]:
def details():
  name = input("Enter your name:")
  age = input("Enter your age:")
  interest = input("Enter your interest:")
  nationality = input("Enter your nationality:")
  return name, age, interest, nationality

name, age, interest, nationality = details()
print("name:", name)
print("age:", age)
print("interest:", interest)
print("nationality:", nationality)

Enter your name:kashan
Enter your age:21
Enter your interest:cars
Enter your nationality:pakistani
name: kashan
age: 21
interest: cars
nationality: pakistani

In [18]:
for i in range (0,5):
  print ("name", name)
  print("age", age)
  print("interest", interest)
  print("nationality" , nationality)

name kashan
age 21
interest cars
nationality pakistani
name kashan
age 21
interest cars
nationality pakistani
name kashan
age 21
interest cars
nationality pakistani
name kashan
age 21
interest cars
nationality pakistani
name kashan
age 21
interest cars
nationality pakistani

In [25]:
def check_odd_even(number):
  if number % 2 == 0:
    return "Even"
  else:
    return "Odd"

num = int(input("Enter a number:"))
result = check_odd_even(num)
print(f"The number {num} is {result}.")

Enter a number:5
The number 5 is Odd.

In [21]:
def is_prime(num):
    if num < 2:
        return False
    for j in range(2, int(num**0.5) + 1):
        if num % j == 0:
            return False
    return True

count = 0
for i in range(100):
    if is_prime(i):
        count += 1

print("Total prime numbers up to 99:", count)

Total prime numbers up to 99: 25

In [24]:
num= int(input("Enter a number t print its table:"))
for i in range(1,11):
  print(num," x ",i," = ",num*i)

Enter a number t print its table:3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30

In [27]:
for i in range (10):
  print(square(i))

0
1
8
27
64
125
216
343
512
729

In [ ]:
def is_prime(number):
  if number <= 1:
    return False
  for i in range(2, int(number**0.5) + 1):
    if number % i == 0:
      return False
  return True

num = int(input("Enter a number:"))
if is_prime(num):
  print(f"The number {num} is prime.")
else:
  print(f"The number {num} is not prime.")

In [31]:
square = lambda x: x*x*x

In [32]:
for i in range (10):
  print(square (i))

0
1
8
27
64
125
216
343
512
729